$primary: #132a13;
$secondary: #ff0000;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Philosopher&display=swap');

body {
  background: #fbf8f5;
  font-family: 'Philosopher', sans-serif;
}

// show post title
.title {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 80px;
}

// show post image
.image {
  width: 400px;
  height: 400px;
  border: 2px solid $primary;
  border-radius: 50%;
  display: block;
  margin-left: 150px;
  margin-right: auto;
  margin-bottom: 50px;
}

// show post coffee description
.description {
  margin-left: 100px;
  font-size: 20px;
  position: absolute;
  max-width: 500px;
  // box-shadow: 0 1px 4px $primary rgba(0, 0, 0, 0.4);
  border: none;
  background-color: inherit;
}

// show post - put image and description side-by-side
.image, .description {
  display: inline-block;
}

// Ingredients, Instructions, Notes Label
.labels {
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  text-decoration: underline;
}

// User Inputs for Labels
.labels__info {
  white-space: pre-wrap;
  margin-left: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
